:root {
  --white: #FFF;
  --primary: #F59E0B;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Outfit", system-ui;
  font-optical-sizing: auto;
  font-style: normal;
  background-image: url('/tikal-national-park-guatemala_0.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  color: var(--white);
  font-size: 2rem;
}
